$primaryColor:#D8616E;
$primaryHiglightColor:#8F4C7C;
$primaryTextColor:#D8616E;

/* background */
$backgroundLeftColor:#9F4C56;
$backgroundRightColor:#6C3D60;

/* horizontal menu */
$horizontalMenuItemBgColor: rgba(255,255,255,0.2);
$horizontalMenuItemTextColor: rgba(255,255,255,0.72);
$horizontalMenuItemHoverBgColor: rgba(255,255,255,0.4);
$horizontalMenuItemHoverTextColor: #ffffff;

/* topbar */
$topbarItemBgColor:rgba(255,255,255,0.2);
$topbarItemHoverBgColor:rgba(255,255,255,0.4);
$topbarItemIconColor:rgba(255,255,255,0.72);
$topbarItemTextColor:rgba(255,255,255,0.72);
$topbarChildItemHoverColor:#87DBF8;
$topbarSearchInputTextColor:#dddee1;
$topbarSearchPlaceholderTextColor:#dddee1;

/* user profile */
$userProfileTextColor:#f0f0f0;

/* overlay menu */
$overlayMenuItemHoverBgColor:#FEE3E6;
$overlayMenuItemActiveTextColor:#D8616E;

/* overlay menu button */
$overlayMenuButtonColor:#9F4C56;
$overlayMenuButtonHoverBgColor:#FEE3E6;

/* mobile menu button */
$mobileMenuIconColor:#ffffff;

/* actionbar */
$actionItemBgColor:#FEE3E6;
$actionItemIconColor:#7A2D36;
$actionItemHoverBgColor:#EBBEC3;
$actionItemActiveBgColor:#D8616E;
$actionItemActiveIconColor:#ffffff;

//footer
$footerTextColor:rgba(255, 255, 255, 0.7);
$footerTextHoverColor:#ffffff;

/* spinner color */
$spinnerColor:#D8616E;

@import '../../sass/layout/_layout';