$primaryColor:#8A6D61;
$primaryHiglightColor:#44322A;
$primaryTextColor:#8A6D61;

/* background */
$backgroundImage:'sand.jpg';

/* horizontal menu */
$horizontalMenuItemBgColor: rgba(255,255,255,0.25);
$horizontalMenuItemTextColor: rgba(255,255,255,0.95);
$horizontalMenuItemHoverBgColor: rgba(255,255,255,0.4);
$horizontalMenuItemHoverTextColor: #ffffff;

/* topbar */
$topbarItemBgColor:rgba(255,255,255,0.25);
$topbarItemHoverBgColor:rgba(255,255,255,0.4);
$topbarItemIconColor:rgba(255,255,255,0.95);
$topbarItemTextColor:rgba(255,255,255,0.95);
$topbarChildItemHoverColor:#88DCF7;
$topbarSearchInputTextColor:#dddee1;
$topbarSearchPlaceholderTextColor:#dddee1;

/* user profile */
$userProfileTextColor:#f0f0f0;

/* overlay menu */
$overlayMenuItemHoverBgColor:#FAD6C7;
$overlayMenuItemActiveTextColor:#44322A;

/* overlay menu button */
$overlayMenuButtonColor:#44322A;
$overlayMenuButtonHoverBgColor:#FAD6C7;

/* mobile menu button */
$mobileMenuIconColor:#ffffff;

/* actionbar */
$actionItemBgColor:#FBF0EB;
$actionItemIconColor:#44322A;
$actionItemHoverBgColor:#FAD6C7;
$actionItemActiveBgColor:#8A6D61;
$actionItemActiveIconColor:#ffffff;

//footer
$footerTextColor:rgba(255, 255, 255, 0.67);
$footerTextHoverColor:#ffffff;

/* spinner color */
$spinnerColor:#8A6D61;

@import '../../sass/layout/_layout';