$primaryColor:#EA7753;
$primaryHiglightColor:#6A3321;
$primaryTextColor:#EA7753;

/* background */
$backgroundImage:'maze.jpg';

/* horizontal menu */
$horizontalMenuItemBgColor: rgba(255,255,255,0.2);
$horizontalMenuItemTextColor: rgba(255,255,255,0.85);
$horizontalMenuItemHoverBgColor: rgba(255,255,255,0.4);
$horizontalMenuItemHoverTextColor: #ffffff;

/* topbar */
$topbarItemBgColor:rgba(255,255,255,0.2);
$topbarItemHoverBgColor:rgba(255,255,255,0.4);
$topbarItemIconColor:rgba(255,255,255,0.72);
$topbarItemTextColor:rgba(255,255,255,0.72);
$topbarChildItemHoverColor:#88DCF7;
$topbarSearchInputTextColor:#dddee1;
$topbarSearchPlaceholderTextColor:#dddee1;

/* user profile */
$userProfileTextColor:#f0f0f0;

/* overlay menu */
$overlayMenuItemHoverBgColor:#F9E4DE;
$overlayMenuItemActiveTextColor:#EA7753;

/* overlay menu button */
$overlayMenuButtonColor:#0b0f11;
$overlayMenuButtonHoverBgColor:#F9E4DE;

/* mobile menu button */
$mobileMenuIconColor:#ffffff;

/* actionbar */
$actionItemBgColor:#F9E4DE;
$actionItemIconColor:#6A3321;
$actionItemHoverBgColor:#F7C4B4;
$actionItemActiveBgColor:#EA7753;
$actionItemActiveIconColor:#ffffff;

//footer
$footerTextColor:rgba(255, 255, 255, 0.67);
$footerTextHoverColor:#ffffff;

/* spinner color */
$spinnerColor:#EA7753;

@import '../../sass/layout/_layout';