$primaryColor:#058B8C;
$primaryHiglightColor:#ECAA28;
$primaryTextColor:#058B8C;

/* background */
$backgroundLeftColor:#1F7679;
$backgroundRightColor:#937D4C;

/* horizontal menu */
$horizontalMenuItemBgColor: rgba(255,255,255,0.2);
$horizontalMenuItemTextColor: rgba(255,255,255,0.72);
$horizontalMenuItemHoverBgColor: rgba(255,255,255,0.4);
$horizontalMenuItemHoverTextColor: #ffffff;

/* topbar */
$topbarItemBgColor:rgba(255,255,255,0.2);
$topbarItemHoverBgColor:rgba(255,255,255,0.4);
$topbarItemIconColor:rgba(255,255,255,0.72);
$topbarItemTextColor:rgba(255,255,255,0.72);
$topbarChildItemHoverColor:#F8CE7E;
$topbarSearchInputTextColor:#dddee1;
$topbarSearchPlaceholderTextColor:#dddee1;

/* user profile */
$userProfileTextColor:#f0f0f0;

/* overlay menu */
$overlayMenuItemHoverBgColor:#CAF1F1;
$overlayMenuItemActiveTextColor:#058B8C;

/* overlay menu button */
$overlayMenuButtonColor:#027172;
$overlayMenuButtonHoverBgColor:#CAF1F1;

/* mobile menu button */
$mobileMenuIconColor:#ffffff;

/* actionbar */
$actionItemBgColor:#CAF1F1;
$actionItemIconColor:#2C5C62;
$actionItemHoverBgColor:#AADCDC;
$actionItemActiveBgColor:#058B8C;
$actionItemActiveIconColor:#ffffff;

//footer
$footerTextColor:rgba(255, 255, 255, 0.7);
$footerTextHoverColor:#ffffff;

/* spinner color */
$spinnerColor:#058B8C;

@import '../../sass/layout/_layout';