$primaryColor:#43cbff;
$primaryHiglightColor:#277695;
$primaryTextColor:#3796bc;

/* background */
$backgroundImage:'bangkok.jpg';

/* horizontal menu */
$horizontalMenuItemBgColor: rgba(255,255,255,0.25);
$horizontalMenuItemTextColor: rgba(255,255,255,0.95);
$horizontalMenuItemHoverBgColor: rgba(255,255,255,0.4);
$horizontalMenuItemHoverTextColor: #ffffff;

/* topbar */
$topbarItemBgColor:rgba(255,255,255,0.2);
$topbarItemHoverBgColor:rgba(255,255,255,0.4);
$topbarItemIconColor:rgba(255,255,255,0.9);
$topbarItemTextColor:rgba(255,255,255,0.9);
$topbarChildItemHoverColor:#FFD312;
$topbarSearchInputTextColor:#dddee1;
$topbarSearchPlaceholderTextColor:#dddee1;

/* user profile */
$userProfileTextColor:#f0f0f0;

/* overlay menu */
$overlayMenuItemHoverBgColor:#A8E6FF;
$overlayMenuItemActiveTextColor:#3796BC;

/* overlay menu button */
$overlayMenuButtonColor:#182327;
$overlayMenuButtonHoverBgColor:#A8E6FF;

/* mobile menu button */
$mobileMenuIconColor:#ffffff;

/* actionbar */
$actionItemBgColor:#D5F3FF;
$actionItemIconColor:#277695;
$actionItemHoverBgColor:#A8E6FF;
$actionItemActiveBgColor:#43cbff;
$actionItemActiveIconColor:#ffffff;

//footer
$footerTextColor:rgba(255, 255, 255, 0.67);
$footerTextHoverColor:#ffffff;

/* spinner color */
$spinnerColor:#43cbff;

@import '../../sass/layout/_layout';