$primaryColor:#677A87;
$primaryHiglightColor:#2D3940;
$primaryTextColor:#677A87;

/* background */
$backgroundImage:'milan.jpg';

/* horizontal menu */
$horizontalMenuItemBgColor: rgba(255,255,255,0.1);
$horizontalMenuItemTextColor: rgba(255,255,255,0.9);
$horizontalMenuItemHoverBgColor: rgba(255,255,255,0.45);
$horizontalMenuItemHoverTextColor: #ffffff;

/* topbar */
$topbarItemBgColor:rgba(255,255,255,0.2);
$topbarItemHoverBgColor:rgba(255,255,255,0.45);
$topbarItemIconColor:rgba(255,255,255,0.9);
$topbarItemTextColor:rgba(255,255,255,0.9);
$topbarChildItemHoverColor:#D8CF84;
$topbarSearchInputTextColor:#f0f1f5;
$topbarSearchPlaceholderTextColor:#f0f1f5;

/* user profile */
$userProfileTextColor:#f0f0f0;

/* overlay menu */
$overlayMenuItemHoverBgColor:#E4EDF4;
$overlayMenuItemActiveTextColor:#677A87;

/* overlay menu button */
$overlayMenuButtonColor:#313842;
$overlayMenuButtonHoverBgColor:#E4EDF4;

/* mobile menu button */
$mobileMenuIconColor:#ffffff;

/* actionbar */
$actionItemBgColor:#E4EDF4;
$actionItemIconColor:#2D3940;
$actionItemHoverBgColor:#CAE4F6;
$actionItemActiveBgColor:#677A87;
$actionItemActiveIconColor:#ffffff;

//footer
$footerTextColor:rgba(255, 255, 255, 0.67);
$footerTextHoverColor:#ffffff;

/* spinner color */
$spinnerColor:#677A87;

@import '../../sass/layout/_layout';