$primaryColor:#D8616E;
$primaryHiglightColor:#7A2D36;
$primaryTextColor:#D8616E;

/* background */
$backgroundImage:'joshua.jpg';

/* horizontal menu */
$horizontalMenuItemBgColor: rgba(0,0,0,0.25);
$horizontalMenuItemTextColor: rgba(255,255,255,0.95);
$horizontalMenuItemHoverBgColor: rgba(0,0,0,0.7);
$horizontalMenuItemHoverTextColor: #ffffff;

/* topbar */
$topbarItemBgColor:rgba(0,0,0,0.2);
$topbarItemHoverBgColor:rgba(0,0,0,0.7);
$topbarItemIconColor:rgba(255,255,255,0.9);
$topbarItemTextColor:rgba(255,255,255,0.9);
$topbarChildItemHoverColor:#48B4D9;
$topbarSearchInputTextColor:#dddee1;
$topbarSearchPlaceholderTextColor:#dddee1;

/* user profile */
$userProfileTextColor:#f0f0f0;

/* overlay menu */
$overlayMenuItemHoverBgColor:#F7BCC3;
$overlayMenuItemActiveTextColor:#D8616E;

/* overlay menu button */
$overlayMenuButtonColor:#4C2626;
$overlayMenuButtonHoverBgColor:#F7BCC3;

/* mobile menu button */
$mobileMenuIconColor:#ffffff;

/* actionbar */
$actionItemBgColor:#FEE3E6;
$actionItemIconColor:#7A2D36;
$actionItemHoverBgColor:#F7BCC3;
$actionItemActiveBgColor:#D8616E;
$actionItemActiveIconColor:#ffffff;

//footer
$footerTextColor:rgba(255, 255, 255, 0.67);
$footerTextHoverColor:#ffffff;

/* spinner color */
$spinnerColor:#D8616E;

@import '../../sass/layout/_layout';