$primaryColor:#43cbff;
$primaryHiglightColor:#277695;
$primaryTextColor:#3796bc;

/* background */
$backgroundImage:'madrid.jpg';

/* horizontal menu */
$horizontalMenuItemBgColor: rgba(0,0,0,0.42);
$horizontalMenuItemTextColor: rgba(255,255,255,0.84);
$horizontalMenuItemHoverBgColor: rgba(0,0,0,0.84);
$horizontalMenuItemHoverTextColor: #ffffff;

/* topbar */
$topbarItemBgColor:rgba(0,0,0,0.5);
$topbarItemHoverBgColor:rgba(0,0,0,0.8);
$topbarItemIconColor:rgba(255,255,255,0.9);
$topbarItemTextColor:rgba(255,255,255,0.9);
$topbarChildItemHoverColor:#FFD312;
$topbarSearchInputTextColor:#dddee1;
$topbarSearchPlaceholderTextColor:#dddee1;

/* user profile */
$userProfileTextColor:rgba(0, 0, 0, 0.67);

/* overlay menu */
$overlayMenuItemHoverBgColor:#A8E6FF;
$overlayMenuItemActiveTextColor:#3796BC;

/* overlay menu button */
$overlayMenuButtonColor:#182327;
$overlayMenuButtonHoverBgColor:#A8E6FF;

/* mobile menu button */
$mobileMenuIconColor:#ffffff;

/* actionbar */
$actionItemBgColor:#D5F3FF;
$actionItemIconColor:#277695;
$actionItemHoverBgColor:#A8E6FF;
$actionItemActiveBgColor:#43cbff;
$actionItemActiveIconColor:#ffffff;

//footer
$footerTextColor:rgba(0, 0, 0, 0.67);
$footerTextHoverColor:rgba(0, 0, 0, 0.9);

/* spinner color */
$spinnerColor:#D8616E;

@import '../../sass/layout/_layout';